<nav class="navbar navbar-light">
    <div class="d-flex w-100 justify-content-between">
    <div class="d-flex">
    <a class="navbar-brand" href="#">
        <i class="pi pi-home" style="font-size: 1.5rem; color: white;"></i>
    </a>
    <span class="navbar-brand text-white font-17">PROPERTIES</span>
    <a class="navbar-brand" href="#">
       PLOT FINDER
    </a>
    <a class="navbar-brand" href="#">
        AREA GUIDES
    </a>
    <a class="navbar-brand" href="#">
      BLOG
    </a>
    <a class="navbar-brand" href="#">
        PARTNERS
    </a>
    <a class="navbar-brand" href="#">
        TOOLS
    </a>
    <a class="navbar-brand" href="#">
        MORE
    </a>
</div>


<div class="ml-5 d-flex">
    
   
 
    <div class="main">
  
        <!-- Actual search box -->
        <div class="form-group has-search">
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <!-- <p class="mt-4 text-center"><a href="https://www.gungorbudak.com/blog/2018/12/12/bootstrap-4-search-box-with-search-icon/">See how it's done on my blog</a></p> -->
        
      </div>


    <a class="navbar-brand" href="#">
        <i class="pi pi-flag-fill" style="font-size: 1rem; color: white;"></i>
    </a>
    <a class="navbar-brand" href="#">
        <i class="pi pi-cog" style="font-size: 1rem; color: white;"></i>
    </a>
    <a class="navbar-brand" href="#">
        <i class="pi pi-user" style="font-size: 1rem; color: white;"></i>
    </a>
</div>
</div>
  </nav>
  