
    <div class="w-100">
        <div class="span2 bathRange"style="width:inherit">
          <div class="btn-group" style="width:inherit">
            <button
              id="min-max-price-range"
              class="d-flex flex-column justify-content-around align-items-center form-control selectpicker select-btn  searchParams"
              href="#"
              data-toggle="dropdown"
              tabindex="6"
              style="
                  border-radius: 2.5px !important;
      background: #f8f9fb !important;
              height: 3rem;"
  
  
            >
              <div class="justify-content-start w-100 d-flex pt-2">
                <span class="defaultDropDownFontColor" style="font-size: 12px">{{'BATHS' | translate}}</span>
              </div>
              <div
                class="d-flex align-items-center  w-100"
              >
  
                <div class="filter-option pull-left span_price">
                  <span  id="selectedBaths">{{'All' | translate}}</span>
                </div>
                <div class="bs-caret ml-5 d-flex justify-content-end"
                  ><i class="pi pi-angle-down"></i></div>
              </div>
            </button>
  
            <div
              class="dropdown-menu ddRange"
              role="menu"
              style="padding-top: 12px"
            >
              <div class="rangemenu">
                <div class="d-flex freeformPriceBath">
  
                </div>
              </div>
              <div class="d-flex">
                <!-- min prices div -->
                <div class="price_Ranges dropDownScroll rangesMin">
                  <a
                  class="min_value border border-4 d-flex justify-content-center align-items-center defaultDropDownFontSize"
                  value="All"
  
                  href="javascript:void(0)"
                  >{{'All' | translate}}</a
                >
           
                  <a
                    class="min_value border border-4 d-flex justify-content-center align-items-center defaultDropDownFontSize"
                    value="1"
                    href="javascript:void(0)"
                    >1</a
                  >
                  <a
                    class="min_value border border-4 d-flex justify-content-center align-items-center defaultDropDownFontSize"
                    value="2"
                    href="javascript:void(0)"
                    >2</a
                  >
                  <a
                    class="min_value border border-4 d-flex justify-content-center align-items-cente defaultDropDownFontSizer"
                    value="3"
                    href="javascript:void(0)"
                    >3</a
                  >
                  <a
                    class="min_value border border-4 d-flex justify-content-center align-items-center defaultDropDownFontSize"
                    value="4"
                    href="javascript:void(0)"
                    >4</a
                  >
                  <a
                    class="min_value border border-4 d-flex justify-content-center align-items-center defaultDropDownFontSize"
                    value="5"
                    href="javascript:void(0)"
                    >5</a
                  >
                  <a
                    class="min_value border border-4 d-flex justify-content-center align-items-center defaultDropDownFontSize"
                    value="6"
                    href="javascript:void(0)"
                    >6+</a
                  >
                </div>
  
              </div>
  
              <div class="btnClear btn-propertytype-home-popup-align">
                <a
                  href="javascript:void(0)"
                  class="btn btn-link border-3 border border-dark bg-dark co te text-white fon f d-flex align-items-center w-25 justify-content-center fl float-right text-decoration-none home-beds-clr-btn"
                  >{{'Clear' | translate}}</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
  
  
  