<h3>Search properties for sale in Pakistan</h3>
<div class="row">
    <div class="col-lg-4">
        <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true"
            filterBy="name" [showClear]="true" placeholder="Select a City">
            <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="selectedCountry">
                    <div>{{selectedCountry.name}}</div>
                </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
                <div class="country-item">
                    <div>{{country.name}}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
    <div class="col-lg-4">
        <p-dropdown [options]="cities" [(ngModel)]="selectedCity2" [editable]="true" optionLabel="name"></p-dropdown> 
    </div>
    <div class="col-lg-4">
        <button pButton pRipple type="button" label="Success" class="p-button-success"></button>
    </div>

</div>

<br>
<div class="row">
    <div class="col-lg-3">
        <p-dropdown [options]="items" [(ngModel)]="item" placeholder="PROPERTY TYPE" [virtualScroll]="true"
            [itemSize]="31" [filter]="false"></p-dropdown>
    </div>
    <div class="col-lg-3">
        <p-dropdown [options]="items" [(ngModel)]="item" placeholder="PRICE (PKR)" [virtualScroll]="true"
            [itemSize]="31" [filter]="false"></p-dropdown>
    </div>
    <div class="col-lg-3">
        <p-dropdown [options]="items" [(ngModel)]="item" placeholder="AREA (MARLA)" [virtualScroll]="true"
            [itemSize]="31" [filter]="false"></p-dropdown>
    </div>
    <div class="col-lg-3">
        <p-dropdown [options]="items" [(ngModel)]="item" placeholder="BEDS" [virtualScroll]="true"
            [itemSize]="31" [filter]="false"></p-dropdown>
    </div>
</div>

<!-- 
<h5>Group</h5>
<p-dropdown [options]="groupedCities" [(ngModel)]="selectedCity3" placeholder="Select a City" [group]="true">
	<ng-template let-group pTemplate="group">
		<div class="p-d-flex p-ai-center">
			<span>{{group.label}}</span>
		</div>
	</ng-template>
</p-dropdown>

<h5>Virtual Scroll (10000 Items)</h5>
<p-dropdown [options]="items" [(ngModel)]="item" placeholder="Select Item" [virtualScroll]="true" [itemSize]="31"
	[filter]="false"></p-dropdown> -->