<div class="bgImage">
  <h4 class="text-white d-flex justify-content-center pt-3">
    Search properties for sale in Pakistan
  </h4>
  <div class="row d-flex justify-content-center align-items-center mt-2 mb-2">
    <div (click)="changeBtn('Buy')" [ngClass]="[selectedButton=='Buy' ? 'text-black bg-white' : 'text-white border']"
      style="border: 1px solid white;"
      class="col-sm-1 d-flex align-items-center justify-content-center cursor-pointer mr-3" style="height: 2.3rem;">
      <span label="Buy">Buy</span>
    </div>

    <div (click)="changeBtn('Rent')" [ngClass]="[selectedButton=='Rent' ? 'text-black bg-white' : 'text-white border']"
      style="border: 1px solid white;"
      class="col-sm-1 d-flex align-items-center justify-content-center cursor-pointer mr-3" style="height: 2.3rem;">
      <span label="Rent">Rent</span>
    </div>


    <div (click)="changeBtn('Projects')"
      [ngClass]="[selectedButton=='Projects' ? 'text-black bg-white' : 'text-white border']"
      style="border: 1px solid white;" class="col-sm-1 d-flex align-items-center justify-content-center cursor-pointer"
      style="height: 2.3rem;">
      <span label="Projects">Projects</span>
    </div>

  </div>

  <div class="mt-4">
    <div  id="bgClr" class="row col-lg-8 offset-2 pt-2" [ngClass]="[toggle ? 'openHeightStyle' : 'closeHeightStyle']" style="background: rgba(34, 34, 34, 0.85); ">

    </div>

    <div style="z-index: 99; " [ngClass]="[toggle ? 'openMarginStyle' : 'closeMarginStyle']">

      <div class="row col-lg-8 offset-2 pt-2">
        <div class="col-lg-3" >
          <app-city (selectedCityOutput)="GetCity($event)"></app-city>
        </div>
        <div class="col-lg-6 px-3">
          <app-location-search (selectedLocationOutput)="GetLocation($event)"></app-location-search>
        </div>
        <div class="col-lg-3">
          <button pButton pRipple type="button" [style]="{ width: '100%' }" label="FIND"
            class="FindButtonGlobalThemeStyle" (click)="find()" routerLink="expandedSearch"></button>
        </div>

        <div *ngIf="!toggle" class="d-flex pb-2 mt-4">

          <span  class="text-success" style="
      color: white !important;
      font-size: 13px;
      cursor: pointer;
      margin-top: -20px;
    "><span (click)="show('more')"><i class="pi pi-angle-down"></i>More Options
            </span>
            | <span class="bottomRowDiv pr-2">change currency</span>|
            <span class="bottomRowDiv pr-2">change Area Unit</span>
            | <span class="bottomRowDiv pr-2">Reset Search</span>
          </span>
        </div>


      </div>



      <div [@slideInOut] *ngIf="toggle" class="row col-lg-8 offset-2 pt-2">
        <div class="col-lg-3">
          <app-property-type (onDropDownChange)="showHideDropDown($event)"></app-property-type>
        </div>
        <div [ngClass]="[showBedDropDown ? 'col-lg-3 asa' : 'col-lg-3 asa']" >
          <app-price-range></app-price-range>
        </div>
        <div [ngClass]="[showBedDropDown ? 'col-lg-3' : 'col-lg-6']">
          <app-area-range></app-area-range>
        </div>


        <div *ngIf="showBedDropDown" class="col-lg-3">
          <app-beds></app-beds>
        </div>


        <div class="d-flex ">
          <span *ngIf="toggle" style="
          color: white !important;
          font-size: 13px;
          cursor: pointer;
         "><span (click)="show('less')"><i class="pi pi-angle-up"></i>Less Options
            </span>

            | <span class="bottomRowDiv pr-2">change currency</span>|
            <span class="bottomRowDiv pr-2">change Area Unit</span>
            | <span class="bottomRowDiv pr-2">Reset Search</span>

          </span>
        </div>



      </div>
    </div>
  </div>
</div>
