

.bgImage {
    background: url('https://www.zameen.com/assets/imageBackgroundLarge.7adb4fdaad0b367c3b62aa50589323dc.webp');
    background-size: cover;
    height: 475px;
    padding-top: 130px;
}

.ddRange {
    transform: translate3d(0px, 36px, 0px) !important;
    width: 248px !important;
}

.inputField {
    width: 90px !important;
    height: 30px !important;
}

.arrow {
    color: #ccc;
    background-color: #ccc;
    display: inline-block;
    height: 1px;
    width: 12px;
    position: relative;

}

.dropDownScroll {
    height: 167px;
    overflow-y: auto;
    overflow-x: clip;
}

.max_value {
    padding: 6px 6px 6px 30px;
}

.price_Ranges {
    float: right;
    width: 50%;
}

.price_Ranges a {
    display: block;
    text-align: left;
    padding: 6px 0 6px 0;
    color: #6f6e6e;
    font-weight: 500;
}

.price_Ranges a.max_value {

    margin-left: 30px;
}

.price_Ranges a.min_value {
    padding-right: 22px;
    padding-left: 12px;
}

.price_Ranges a.disabled {
    pointer-events: none;
    cursor: default;
    color: #E5E4E2;
}

.price_Ranges a:hover {
    background: #0074e4;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.btnClear {
    clear: both;
    border-top: 1px solid #dadada;
    padding: 5px 0 0 0;
    text-align: center;
}

input.inputError,
input.inputError:focus {
    border-color: #e2231a;
    background-color: white;
    color: #e2231a;
    box-shadow: inset 0 0 5px #F7BDBB;
    border-radius: 0;
}

