<div class="bgImage">
  <h4 class="text-white d-flex justify-content-center pt-3">
    Search properties for sale in Pakistan
  </h4>
  <div class="row d-flex justify-content-center mt-2 mb-2">
    <div class="col-sm-1">
      <button (click)="changeBtn('Buy')" style="border: 1px solid white;" pButton pRipple type="button" label="Buy"
        [ngClass]="[selectedButton=='Buy' ? 'text-black bg-white' : 'text-white']"
        class="p-button-raised p-button-secondary p-button-text  "></button>
    </div>
    <div class="col-sm-1">
      <button (click)="changeBtn('Rent')" [ngClass]="[selectedButton=='Rent' ? 'text-black bg-white' : 'text-white']"
        style="border: 1px solid white;" pButton pRipple type="button" label="Rent"
        class="p-button-raised p-button-secondary p-button-text "></button>

    </div>
    <div class="col-sm-1">
      <button (click)="changeBtn('Projects')"
        [ngClass]="[selectedButton=='Projects' ? 'text-black bg-white' : 'text-white']" style="border: 1px solid white;"
        pButton pRipple type="button" label="Projects"
        class="p-button-raised p-button-secondary p-button-text"></button>
    </div>
  </div>
  <div style="background: rgba(34, 34, 34, 0.85)">
    <div class="row d-flex justify-content-center pt-2">
      <div class="col-sm-2">
        <app-city></app-city>
      </div>
      <div class="col-sm-4">
        <app-location-search></app-location-search>
      </div>
      <div class="col-sm-2">
        <button pButton pRipple type="button" [style]="{ width: '100%' }" label="FIND" class="p-button-success"
          (click)="find()" routerLink="expandedSearch"></button>
      </div>
    </div>

    <br />
    <div class="row d-flex justify-content-center pb-3">
      <div class="col-sm-2">
        <app-property-type></app-property-type>
      </div>
      <div class="col-sm-2">

        <app-price-range></app-price-range>

        <!-- custom dropdown End -->
      </div>
      <div class="col-sm-2">

        <!-- Custom Drop Down Start Area Marla -->
        <app-area-range></app-area-range>

        <!-- custom dropdown End -->
      </div>
      <div class="col-sm-2">
        <app-beds></app-beds>
      </div>
      <span *ngIf="toggle" style="
          margin-left: 32rem;
          color: white !important;
          font-size: 13px;
          cursor: pointer;
        " (click)="show('more')"><i class="pi pi-angle-up"></i>Less Options</span>
      <span *ngIf="!toggle" class="text-success" style="
          margin-left: 32rem;
          color: white !important;
          font-size: 13px;
          cursor: pointer;
        " (click)="show('less')"><i class="pi pi-angle-down"></i>More Options</span>
    </div>
  </div>
</div>