.modal-lg {
    max-width: 80% !important;
}

.product-image1 {
    margin-top: 1rem;
    height: 540px;
    width: 100%;
}

.p-float-label label{
    top:18%;
    font-size: 0.7rem;
    font-weight: 700;
    color: #767676;

}
textarea{
    font-size: 11px;
}

.odd{
    background: #fafafa;
}

p { display: inline;}

.navclr{
    background-color: rgb(31, 29, 29) !important;
}

.specs{
    font-size: 12px;
}

.map-container-4{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container-4 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }