.modal-lg {
    max-width: 80% !important;
}

.product-image1 {
    margin-top: 1rem;
    height: 540px;
    width: 100%;
}

.p-float-label label{
    top:18%;
    font-size: 0.7rem;
    font-weight: 700;
    color: #767676;

}
textarea{
    font-size: 11px;
}

.odd{
    background: #fafafa;
}

p { display: inline;}

.navclr{
    background-color: rgb(31, 29, 29) !important;
}