<div class="mt-2" >
  <div class="div-head-label">
    <span>User Settings</span>
  </div>
  <div class="div-form-profile">
    <div style="margin: 1rem;">
      <div class="mt-2 div-head-sublabel">
        <span>User Settings</span>
      </div>

      <div class="row mt-2">
        <div class="div-label justify-content-start d-flex flex-nowrap">
          <label class="label m-label">Message Signature:</label>
        </div>
        <div class="div-field justify-content-start flex-nowrap">
          <textarea class="input-field-gen" [rows]="4" pInputTextarea></textarea>
          <i class="pi pi-question-circle ml-15px cursor-pointer" style="position: absolute;"
             pTooltip="Please enter your message signature" tooltipPosition="top"></i>
        </div>
      </div>

      <div class="row mt-2">
        <div class="div-label justify-content-start d-flex flex-nowrap">
          <label class="label m-label">Emails Notification:</label>
        </div>
        <div class="div-field justify-content-start d-flex flex-nowrap">
          <div class="d-flex" style="width: 100px;">
            <p-radioButton name="notifications" value="Subscribe" [(ngModel)]="emailsNotification" Id="notifications1"></p-radioButton>
            <label class="ml-5px" for="notifications1">Subscribe</label>
          </div>
          <div class="ml-15px d-flex">
            <p-radioButton name="notifications" value="Unsubscribe" [(ngModel)]="emailsNotification" Id="notifications2"></p-radioButton>
            <label class="ml-5px" for="notifications2">Unsubscribe</label>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="div-label justify-content-start d-flex flex-nowrap">
          <label class="label m-label">Newsletter:</label>
        </div>
        <div class="div-field justify-content-start d-flex flex-nowrap">
          <div class="d-flex" style="width: 100px;">
            <p-radioButton name="notifications" value="Subscribe" [(ngModel)]="newsletter" Id="newsletter1"></p-radioButton>
            <label class="ml-5px" for="newsletter1">Subscribe</label>
          </div>
          <div class="ml-15px d-flex">
            <p-radioButton name="notifications" value="Unsubscribe" [(ngModel)]="newsletter" Id="newsletter2"></p-radioButton>
            <label class="ml-5px" for="newsletter2">Unsubscribe</label>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="div-label justify-content-start d-flex flex-nowrap">
          <label class="label m-label">Automated Reports:</label>
        </div>
        <div class="div-field justify-content-start d-flex flex-nowrap">
          <div class="d-flex" style="width: 100px;">
            <p-radioButton name="notifications" value="Subscribe" [(ngModel)]="automatedReports" Id="automatedReports1"></p-radioButton>
            <label class="ml-5px" for="automatedReports1">Subscribe</label>
          </div>
          <div class="ml-15px d-flex">
            <p-radioButton name="notifications" value="Unsubscribe" [(ngModel)]="automatedReports" Id="automatedReports2"></p-radioButton>
            <label class="ml-5px" for="automatedReports2">Unsubscribe</label>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="div-label justify-content-start d-flex flex-nowrap">
          <label class="label m-label">Email Format:</label>
        </div>
        <div class="div-field justify-content-start d-flex flex-nowrap">
          <div class="d-flex" style="width: 100px;">
            <p-radioButton name="notifications" value="HTML" [(ngModel)]="emailFormat" Id="emailFormat1"></p-radioButton>
            <label class="ml-5px" for="emailFormat1">HTML</label>
          </div>
          <div class="ml-15px d-flex">
            <p-radioButton name="notifications" value="Unsubscribe" [(ngModel)]="emailFormat" Id="emailFormat2"></p-radioButton>
            <label class="ml-5px" for="emailFormat2">Text</label>
          </div>
        </div>
      </div>

      <div class="mt-2 div-head-sublabel">
        <span>General Settings</span>
      </div>

      <div class="row mt-2">
        <div class="div-label justify-content-start d-flex flex-nowrap">
          <label class="label m-label">Default Currency: <span class="clr-red font-14">*</span></label>
        </div>
        <div class="div-field justify-content-start flex-nowrap">
          <p-dropdown [options]="countryList" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true" filterBy="name"
                      placeholder="Country" [style]="{'minWidth':'300px', 'width': '300px'}">
            <ng-template pTemplate="selectedItem">
              <div class="country-item country-item-value" *ngIf="selectedCountry">
                <div>{{selectedCountry.name}} ({{selectedCountry.currencyCode}})</div>
              </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
              <div class="country-item">
                <div>{{country.name}} ({{country.currencyCode}})</div>
              </div>
            </ng-template>
          </p-dropdown>
          <i class="pi pi-question-circle ml-15px cursor-pointer"
             pTooltip="Please select your country currency from the given list." tooltipPosition="top"></i>
        </div>
      </div>

      <div class="row mt-2 mb-3">
        <div class="div-label justify-content-end d-flex flex-nowrap">
        </div>
        <div class="div-field justify-content-start flex-nowrap">
          <div class="d-flex btn btn-login justify-content-center mt-4">
            <span class="btn-login-text text-cap">Submit</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
