<div class="container">
    <div class="span2 marlaRange" style="margin-left:0.8rem;">
      <div class="btn-group w-100">
        <button
          id="min-max-price-range"
          class="d-flex flex-column align-items-center justify-content-around form-control selectpicker select-btn  searchParams"
          href="#"
          data-toggle="dropdown"
          tabindex="6"
          style="
    border-radius: 2.5px !important;
    background: #f8f9fb !important;
              height: 3rem;"

        >
          <div class="justify-content-start w-100 d-flex pt-2">
            <span class="defaultDropDownFontColor" style="font-size: 12px">PRICE (PKR)</span>
          </div>
          <div
            class="d-flex align-items-center justify-content-around w-100"
          >
            <div class="filter-option pull-left span_price">
              <span id="min_price_val" class="font-15"> 0 </span>
            </div>
            <div class="filter-option pull-left span_price">
              <span id="" class="font-15 font-weight-bold"> to </span>
            </div>
            <div class="filter-option pull-left span_price">
              <span id="max_price_val" class="font-15"> Any <i class="pi pi-angle-down"></i></span>
            </div>
    
          </div>
        </button>

        <div
          class="dropdown-menu ddRange"
          role="menu"
          style="width: 295px; padding-top: 12px"
        >
          <div class="rangemenu">
            <div class="d-flex freeformPrice">
              <div class="d-flex flex-column ml-3">
                <label for=""><strong>Min:</strong></label>

                <div class="form-group">
                  <input
                    name="min_price"
                    type="text"
                    class="min_input inputField form-control"
                    placeholder="0"
                    id="min_price"
                  />
                </div>
              </div>
              <div class="col-md-2"><span class="arrow"></span></div>
              <div class="d-flex flex-column">
                <label for=""><strong>Max:</strong></label>
                <div class="form-group">
                  <input
                    name="max_price"
                    type="text"
                    class="max_input inputField form-control"
                    placeholder="0"
                    id="max_price"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <!-- min prices div -->
            <div class="price_Ranges dropDownScroll rangesMin">
              <a
                class="min_value border border-4 d-flex   align-items-center defaultDropDownFontSize"
                value="0"
                href="javascript:void(0)"
                >0</a
              >
              <a
                class="min_value border border-4 d-flex   align-items-center defaultDropDownFontSize"
                value="50000"
                href="javascript:void(0)"
                >50,000</a
              >
              <a
                class="min_value border border-4 d-flex   align-items-center defaultDropDownFontSize"
                value="1000000"
                href="javascript:void(0)"
                >1,000,000</a
              >
              <a
                class="min_value border border-4 d-flex   align-items-center defaultDropDownFontSize"
                value="2000000"
                href="javascript:void(0)"
                >2,000,000</a
              >
              <a
                class="min_value border border-4 d-flex   align-items-center defaultDropDownFontSize"
                value="3500000"
                href="javascript:void(0)"
                >3,500,000</a
              >
              <a
                class="min_value border border-4 d-flex   align-items-center defaultDropDownFontSize"
                value="5000000"
                href="javascript:void(0)"
                >5,000,000</a
              >
              <a
                class="min_value border border-4 d-flex   align-items-center defaultDropDownFontSize"
                value="6500000"
                href="javascript:void(0)"
                >6,500,000</a
              >
              <a
                class="min_value border border-4 d-flex   align-items-center defaultDropDownFontSize"
                value="80000000"
                href="javascript:void(0)"
                >8,000,000</a
              >
              <a
                class="min_value border border-4 d-flex   align-items-center defaultDropDownFontSize"
                value="10000000"
                href="javascript:void(0)"
                >10,000,000</a
              >
              <a
                class="min_value border border-4 d-flex   align-items-center defaultDropDownFontSize"
                value="12500000"
                href="javascript:void(0)"
                >12,500,000</a
              >
            </div>
            <div class="price_Ranges rangesMax dropDownScroll">
              <a
                class="max_value border border-4 d-flex   align-items-center defaultDropDownFontSize"
                value="Any"
                href="javascript:void(0)"
                >Any</a
              >
              <a
                class="max_value border border-4 d-flex   align-items-center defaultDropDownFontSize"
                value="50000"
                href="javascript:void(0)"
                >50,000</a
              >
              <a
                class="max_value border border-4 d-flex   align-items-center defaultDropDownFontSize"
                value="1000000"
                href="javascript:void(0)"
                >1,000,000</a
              >
              <a
                class="max_value border border-4 d-flex   align-items-center defaultDropDownFontSize"
                value="2000000"
                href="javascript:void(0)"
                >2,000,000</a
              >
              <a
                class="max_value border border-4 d-flex   align-items-center defaultDropDownFontSize"
                value="3500000"
                href="javascript:void(0)"
                >3,500,000</a
              >
              <a
                class="max_value border border-4 d-flex   align-items-center defaultDropDownFontSize"
                value="5000000"
                href="javascript:void(0)"
                >5,000,000</a
              >
              <a
                class="max_value border border-4 d-flex   align-items-center defaultDropDownFontSize"
                value="6500000"
                href="javascript:void(0)"
                >6,500,000</a
              >
              <a
                class="max_value border border-4 d-flex   align-items-center defaultDropDownFontSize"
                value="80000000"
                href="javascript:void(0)"
                >8,000,000</a
              >
              <a
                class="max_value border border-4 d-flex   align-items-center defaultDropDownFontSize"
                value="10000000"
                href="javascript:void(0)"
                >10,000,000</a
              >
              <a
                class="max_value border border-4 d-flex   align-items-center defaultDropDownFontSize" 
                value="12500000"
                href="javascript:void(0)"
                >12,500,000</a
              >
            </div>
          </div>

          <div class="btnClear">
            <a
              href="javascript:void(0)"
              style="height: 15px; font-size: 10px"
              class="btn btn-link border-3 border border-dark bg-dark co te text-white fon f d-flex align-items-center w-25 justify-content-center fl float-right text-decoration-none"
              >Clear</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>