<nav class="navbar navbar-light">
    <div class="d-flex w-100 justify-content-between">
    <div class="d-flex">
    <a class="navbar-brand" href="#">
       <img src="/assets/images/logo.png" height="20px">
    </a>
    <span (click)="expandHome()" class="navbar-brand font-15  headerText">BUY 
        <i *ngIf="state=='closed'" class="pi pi-angle-right" style="font-size: 1rem; color: #848484 !important;"></i>
        <i *ngIf="state=='open'" class="pi pi-angle-left" style="font-size: 1rem; color: #848484 !important;"></i>
    
        <!-- <span> | </span> -->
    </span>
    
    <div class="d-flex left-stuff" [@widthGrow]="state" >
    <a class="navbar-brand font-15 headerText" href="#" *ngIf="state=='open'">
       HOMES
       <span> | </span>
    </a>
   
   

    <a class="navbar-brand font-15 headerText"  href="#" *ngIf="state=='open'">
       PLOTS
       <span> | </span>
    </a>
   
    <a class="navbar-brand font-15 headerText" [routerLink]="['blogs']" *ngIf="state=='open'">
      COMMERCIALS
      <span> | </span>
    </a>
    
</div>
    <a class="navbar-brand font-15 headerText"  href="#">
        RENT
        <span> | </span>
    </a>
    
    <a class="navbar-brand font-15 headerText" href="#">
        AGENTS
        <span> | </span>
    </a>
    
    <a class="navbar-brand font-15 headerText" href="#">
        NEW PROJECTS
    </a>
</div>



</div>
  </nav>
