<nav class="navbar navbar-light">
    <div class="d-flex w-100 justify-content-between">
    <div class="d-flex">
    <a class="navbar-brand" href="#">
        <i class="pi pi-home" style="font-size: 1.5rem; color: white;"></i>
    </a>
    <span class="navbar-brand text-white font-13">PROPERTIES</span>
    <a class="navbar-brand font-15" href="#">
       PLOT FINDER
    </a>
    <a class="navbar-brand font-15"  href="#">
        AREA GUIDES
    </a>
    <a class="navbar-brand font-15" [routerLink]="['blogs']">
      BLOG
    </a>
    <a class="navbar-brand font-15" href="#">
        PARTNERS
    </a>
    <a class="navbar-brand font-15" href="#">
        TOOLS
    </a>
    <a class="navbar-brand font-15" href="#">
        MORE
    </a>
</div>



</div>
  </nav>
