<div style="margin-top: 0.1rem;">
  <p-dropdown
    [options]="countries"
    [style]="{ width: '100%'}"
    [(ngModel)]="selectedCountry"
    optionLabel="CityName"
    [filter]="true"
    filterBy="CityName"
    [showClear]="true"
   
    placeholder="CITY"
    (onChange)="SelectCity()"
  >
    <ng-template pTemplate="selectedItem">
      <div class="country-item country-item-value" *ngIf="selectedCountry">
        <div>{{ selectedCountry.CityName }}</div>
      </div>
      
    </ng-template>
    <ng-template let-country pTemplate="item">
      <div class="country-item">
        <div>{{ country.CityName }}</div>
      </div>
    </ng-template>
  </p-dropdown>
</div>
