$theme-color: #fa0c19;
$theme-hover-color: #ffdcde;

.header-bar{
  border: 1px solid $theme-color;
  background-color: $theme-color;
  color: white;
  border-radius: 5px;
  border-top-left-radius: 5px;
  padding: 6px 10px;
  font-size: 13px;
  text-transform: uppercase;
}

.header-margin{
  margin-left: 2px;
  margin-right: 2px;
}

.checkbox-btn{
  border: 1px solid #ccc;
  padding: 5px 12px;
  font-size: 12px;
  background-color: #ebebeb;
  cursor: pointer;
  width: fit-content;
  height: 30px;
}

.checkbox-border-left{
  border-radius: 4px 0 0 4px;
}

.checkbox-border-right{
  border-radius: 0 4px 4px 0;
}

.convert-price-border{
  border-radius: 4px;
}
.checkbox-btn:hover{
  background: #f0f0f0;
}

.checkbox-btn-check{
  background: #e1e1e1;
  color: $theme-color;
}

.label{
  font-size: 13px;
  font-weight: 700;
  width: fit-content;
}

.m-label{
  margin-left: 10px;
  margin-top: 5px;
}
.center-label{
  margin-left: 10px; margin-top: 5px; margin-right: 10px;
}

.checkbox-subcheck{
  border-radius: 4px;
  margin-bottom: 9px;
  margin-right: 9px;
  width: 130px;
  background-color: #ebebeb;
  cursor: pointer;
  font-size: 12px;
  font-size: 12px;
  padding: 6px 5px;
}

.checkbox-subcheck:hover{
  background: #f0f0f0;
}

.checkbox-subcheck-check{
  background: #e1e1e1;
  color: $theme-color;
}

.p-dropdown:not(.p-disabled):hover {
  border-color: #f0f0f0 !important;
}

p-dropdown .p-dropdown-label {
  background: transparent !important;
  border: 0 none !important;
  background: #f0f0f0 !important;
  height: 30px !important;
  padding: 5px !important;
  border-radius: 0 !important;
  width: 200px !important;
}

 p-dropdown .p-dropdown-trigger {
  background: #f0f0f0 !important;
  height: 30px !important;
  border: 0 !important;
}

.p-dropdown .p-dropdown-label.p-placeholder {
  font-size: 14px !important;
}

.p-inputtext {
  padding: 5px !important;
}

.p-inputtext.placeholder {
 font-size: 12px !important;
}

.p-inputtext:enabled:hover {
  border-color: #f0f0f0 !important;
}

.p-inputtext:enabled:focus {
  box-shadow: 0 0 0 0.2rem $theme-hover-color;
  border-color: $theme-color;
}

.p-dropdown:not(.p-disabled).p-focus{
  box-shadow: 0 0 0 0.2rem $theme-hover-color;
  border-color: $theme-color;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  color: white !important;
  background: $theme-color !important;
}

.cal-label{
  font-size: 12px;
  height: 16px;
  border-bottom: 1px solid black;
  margin-top: 6px;
  margin-left: 10px;
  cursor: pointer;
}
.cal-label:hover{
  color: $theme-color;
  border-bottom: 1px solid $theme-color;
}

.another-number-label{
  font-size: 12px;
  height: 16px;
  border-bottom: 1px solid $theme-color;
  margin-top: 6px;
  margin-left: 10px;
  cursor: pointer;
  color:$theme-color;
}

.price-specs-align-field{
  width: 60%; margin-left: 4.2rem;
}

.div-label{
  width: 25%;
  padding-right: 0;
}

.div-field{
  width: 75%;
}

.title-field-bottom{
  padding-top: 1%;
  color: #A3A3A3;
  font-size: 11px;
}

.btn-images{
  border: 1px solid #e07116;
  padding: 4px 12px 5px 12px;
  font-weight: 600;
  border-radius: 6px;
  text-transform: capitalize;
  font-size: 13px;
  background: #e07116;
  width: fit-content;
}

.btn-submit{
  border: 1px solid $theme-color;
  padding: 4px 12px 5px 12px;
  font-weight: 700;
  border-radius: 6px;
  text-transform: capitalize;
  font-size: 14px;
  background: $theme-color;
  width: fit-content;
}

.alert-title{
  width: fit-content;
  background: #f9edbe;
  border-color: #f0c36d;
  box-shadow: 0 0 2px 0 #ffcc00;
  color: #555555;
  font-weight: bold;
  font-size: 13px;
  height: 22px;
}
.input-code{
  height: 32px;
  width: 64px;
}

.input-nunber{
  height: 32px;
  width: 150px;
}

.default-field{
  height: 32px;
  width: 280px;
}
.propert-title-field{
  width: 350px;
}
