<div style="background-color: #fa0c19; padding: 3px;"></div>
<div class="p-2">
  <div class="text-right">
    <i class="pi pi-times-circle cursor-pointer cls-btn" (click)="onClose()"></i>
  </div>

  <div class="p-2">
    <span class="btn-login-text mt-2 input-div" style="display: block; text-align: left;">Please input your email</span>

    <div class="justify-content-center error-div mt-2" *ngIf="showErrorEmail">
      <span>Please enter your e-mail address.</span>
    </div>

    <div class="justify-content-center input-div mt-2">
      <input class="input-field" pInputText placeholder="E-mail*" #email [(ngModel)]="signInObj.Email"
             [ngClass]="{'ng-invalid ng-dirty' : showErrorEmail}" (input)="onEmailInput()">
    </div>

    <div class="d-flex btn btn-login justify-content-center mt-2" (click)="onClickSubmit()">
      <span class="btn-login-text text-cap">Submit</span>
    </div>

    <span class="forget-text text-fl-cap cursor-pointer mt-2 input-div" style="display: block; text-align: right;" (click)="onclickLogin()">Back To Login</span>
  </div>
</div>
