@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
    overflow-x: hidden;
}
.direction-urdu {
  .direction-change-screen{
    direction: rtl !important;
  }
  .searchbar-header{
    position: absolute;
    left: 1rem;
  }
  .align-card{
    text-align: -webkit-left;
  }
  .btn-header-plus{
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
  }
  .p-dropdown .p-dropdown-label.p-placeholder {
    text-align: start;
  }
  .header-propertytype-home-popup {
    text-align: initial;
  }
  .text-propertytype-home-popup {
    text-align: center;
  }
  .btn-propertytype-home-popup {
    height: 15px;
    width: 80px;
    font-size: 10px;
    margin-left: 5px;
  }
  .btn-propertytype-home-popup-align {
    float: left;
  }
  .urdu-heading-text-home-body{
    text-align: right;
  }
  .heading-app-body {
    margin-right: 16rem;
    text-align: right;
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    text-align: center;
  }
  .footer-home-head{
    text-align: -webkit-right;
  }

  .footer-home-subhead-ul{
    padding: 0;
  }
  .footer-home-roshan{
    margin-right: 15px;
  }
  .footer-home-socials{
    margin-top: 15px;
  }
  .home-beds-clr-btn{
    height: 24px;
    font-size: 10px;
    width: 80px !important;
  }
  .home-dropdown-price {
    padding-left: 0;
    padding-right: 16px !important;
  }
  .urdu-rent-align{
    margin-left: 1rem;
  }
}

.direction-eng {
  direction: ltr !important;
}
.navbar{
    justify-content: start !important;
    align-items: inherit !important;
    height: 50px;
    background: rgb(250, 12, 25) !important;

}
.FindButtonGlobalThemeStyle{
  background: rgb(250, 12, 25) !important;
}

.defaultDropDownFontColor{
  color: #767676 !important;
}
.defaultDropDownFontSize{
  font-size: 0.8rem !important;
  justify-content: center;
}
.p-card-title{
    font-size: 0.93rem !important;
}
.p-card{
    font-size: 0.93rem !important;
}

    .product-item-content {
        border: 1px solid var(--surface-d);
        border-radius: 3px;
        margin: .3rem;
        text-align: center;
        padding: 2rem 0;
    }

    .product-image {
        width: 50%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }


.product-image1{
    height: 150px;
    width: 150px;
}

/*.p-dropdown {*/
/*    border-radius: 0px !important;*/
/*}*/

/*.p-inputtext{*/
/*    border-radius: 0px !important;*/
/*    width:92% !important;*/
/*    margin-left: 1.1rem !important;*/
/*}*/

/*.p-dropdown-label.p-placeholder {*/
/*    padding-top: 0px !important;*/
/*    font-size: 12px;*/
/*    height: 3rem;*/
/*}*/

.cursor-pointer{
  cursor: pointer;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover {
  background: #e9ecef;
  border-bottom: 5px solid #bfdbfe;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus {
  box-shadow: unset !important;
  border-bottom: 5px solid #bfdbfe;
  border-radius: 0px;
}

.searchBar-blog{
  position: absolute;
  right: 1rem;
}

@media screen and (max-width: 960px) {
  .searchBar-blog {
    display: none;
  }
  .p-menubar .p-menubar-button {
    position: absolute;
    right: 1rem;
  }
}

.clr-logo{
  color: #d50000;
}

.bbtm-profolio{
  border-bottom: 1px solid #f1f1f1;
}

.font-10{
  font-size: 10px;
}
.font-12{
  font-size: 12px !important;
}
.font-14{
  font-size: 14px !important;
}

.font-15{
  font-size: 15px !important;
}

.font-18{
  font-size: 18px !important;
}

.clr-white{
  color: white;
}
.clr-black{
  color: black;
}

.clr-green{
  color: #00a651;
}

.clr-theme{
  color: #fa0c19;
}

.clr-alert{
  color: #f3cd1a;
}

.clr-red{
  color: red;
}

.clr-orange{
  color: #EF7C21;
}

.clr-anchor{
  color: #0E77B0;
}

.anchor-line{
  text-decoration: unset;
}

.p-3px{
  padding: 3px;
}

.mr-5px{
  margin-right: 5px;
}

.mr-12px{
  margin-right: 12px;
}

.ml-2px{
  margin-left: 2px !important;
}

.ml-5px{
  margin-left: 5px !important;
}

.ml-12px{
  margin-left: 12px !important;
}

.ml-15px{
  margin-left: 15px !important;
}

.pl-0{
  padding-left: 0 !important;
}

.bg-theme{
  background-color: #fa0c19;
  background: #fa0c19;
}
.hover-theme{
  background-color: #ffdcde;
  background: #ffdcde;
}
.active-theme{
  background-color: #ffdcde;
  background: #ffdcde;
}

.line-break{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


/* ngx-intl-tel-input styling */

.reg-form {
  .iti {
    width: 100% !important;
  }
  ngx-intl-tel-input input {
    width: inherit;
  }
  .p-dropdown .p-dropdown-label {
    padding: 6px !important;
    text-align: start;
  }
  .p-multiselect .p-multiselect-label {
    padding: 6px !important;
    text-align: start;
  }
  .p-checkbox-label {
    margin-bottom: 3px;
    font-size: 14px;
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    text-align: left;
  }
  .p-password{
    width: -webkit-fill-available;
    .p-inputtext {
      padding: 6px;
      width: -webkit-fill-available;
    }
  }
}

.iti {
  display: block !important;
}

.iti .dropdown-menu.country-dropdown {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-color: #c7cace;
  margin-top: -1px;
}

.iti .iti__country-list {
  box-shadow: none;
  font-size: 14px;
  margin-left: 0;
  width: 244px;
  max-height: 170px;
}

.iti__flag-container.open + input {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.iti .search-container input {
  font-size: 14px;
  border-color: #c7cace;
  border-radius: 0;
  padding: 5px 10px;
}

.iti .search-container input:focus {
  outline: none;
}

@media screen and (max-width: 479px) {
  .iti .iti__country-list {
    width: 88.3vw;
  }
}

ngx-intl-tel-input input {
  height: 44px;
  margin-bottom: 20px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #c7cace;
  border-radius: 4px;
  font-size: 18px;
}

ngx-intl-tel-input.ng-invalid.ng-touched input {
  box-shadow: 0 0 0 0.2rem #ffdcde;
  border-color: #fa0c19;
}

ngx-intl-tel-input input:hover {
  box-shadow: 0 0 0 0.2rem #ffdcde;
}

ngx-intl-tel-input input:focus {
  outline: none !important;
  box-shadow: 0 0 0 0.2rem #ffdcde;
}

ngx-intl-tel-input input::-webkit-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input:-ms-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input::-ms-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input::placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input[disabled] {
  background-color: #e5eaf1;
}
/* ngx-intl-tel-input styling */

.error-field{
  border: 1px solid red !important;
}
.ng-invalid {
  border: 1px solid red;
}
.ng-invalid-tel {
  border: 1px solid red;
}

.btn-propertytype-home-popup-align {
  float: right;
}

.btn-propertytype-home-popup {
  height: 15px;
  width: 37px;
  font-size: 10px
}

.urdu-heading-text-home-body{
  text-align: left;
}

.heading-app-body{
  font-size: 1.6rem;
  margin-bottom: 2rem;
  margin-left: 16rem;
}

.text-cap{
  text-transform: uppercase;
}

.text-fl-cap{
  text-transform: capitalize;
}

.text-small{
  text-transform: lowercase;
}

.home-beds-clr-btn{
  height: 15px; font-size: 10px
}

.home-dropdown-price{
    padding-right: 0 !important;
}

.tt-dialog {
  max-height: 85%;

  .mat-dialog-container {
    padding: 0;
  }
}

.div-form-profile {
  .input-field-gen{
    padding: 6px;
    width: 300px;
    font-size: 13px;
  }
  .p-dropdown .p-dropdown-label {
    padding: 6px;
  }

}

.login-form{
  .p-checkbox-label {
    margin-bottom: 3px;
  }
  .p-password{
    width: -webkit-fill-available;
    .p-inputtext {
      padding: 6px;
      width: -webkit-fill-available;
    }
  }
}

.post-property-images{
  .p-button.p-fileupload-choose {
    height: 38px;
    background-color: #e07116;
    border-color: #e07116;
  }


  .p-fileupload-choose:not(.p-disabled):active {
    background: #fd7403;
    color: #ffffff;
    border-color: #fd7403;
  }

  .p-fileupload-choose:not(.p-disabled):hover {
    background: #fd7403;
    color: #ffffff;
    border-color: #fd7403;
  }
}
.email-bucket{
  .p-dialog{
    position: absolute !important;
    right: 0;
    bottom: 0;
    max-height: 60%;
    top: auto !important;
    .p-dialog-mask{
      z-index: auto !important;
    }
    .p-dialog-header {
      padding: 10px;
      background-color: #fa0c19;
      color: white;
      font-weight: 700;
      .p-dialog-header-icon {
        color: white;
        width: 24px !important;
        height: 24px !important;
        &:hover{
          color: #fa0c19;
        }
      }
      .p-dialog-header-icon :hover{
          color: #fa0c19;
      }
      .icon-minimize{
        font-size: 16px;
        cursor: pointer;
        position: absolute;
        right: 2.5rem;
        width: 32px;
        height: 32px;
        text-align: center;
        border-radius: 18px;
        .pi {
          margin-top: 8px;
        }
      }
      .icon-minimize:hover {
          color: #fa0c19;
          border-color: transparent;
          background: #e9ecef;
      }
    }

    .p-dialog-content {
        background: #ffffff;
        color: #495057;
        padding: 0 15px !important;
      .remove-text {
        font-size: 14px;
        font-weight: 600;
        color: #d32027;
        text-decoration: underline;
        cursor: pointer;
        width: 100%;
        pointer-events: auto;
      }
    }
    .p-dialog-footer{
      background-color: #ededed;
      padding: 10px;
      .btn-remove{
        border: 1px solid #fa0c19;
        padding: 5px 10px;
        background-color: white;
        border-radius: 5px;
        color: #fa0c19;
        width: 120px;
        margin-right: 5px;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
      }
      .btn-email{
        border: 1px solid #fa0c19;
        padding: 5px 12px;
        background-color: #fa0c19;
        border-radius: 5px;
        color: white;
        font-weight: 600;
        margin-left: 5px;
        width: 120px;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}

.bucket-p-dialog-resize{
  max-height: 50px !important;
  top: auto !important;
}

.doted-text{
  font-size: 14px;
  display: inline-block;
  width: 80%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.extended-search{
  .p-checkbox-label{
    margin-bottom: 3px !important;
  }
}

.div-details-call{
  .p-inputtext {
    width: -webkit-fill-available;
    background-color: #f8f9fb;
  }
  .p-inputtext:focus {
    outline: 0 none !important;
    outline-offset: 0 !important;
    box-shadow: 0 0 0 0.2rem #e4e7ea !important;
    border-color: #d4d9de !important;
  }
  .p-inputtext:hover {
    border-color: #d4d9de !important;
  }
  .p-radiobutton .p-radiobutton-box{
    height: 18px !important;
    width: 18px !important;
  }
  .p-radiobutton-label{
    margin-left: 0;
    font-size: 13px;
  }
  .btn-success {
    color: #fff;
    background-color: #fa0c19;
    border-color: #fa0c19;
  }
  .btn-success:hover {
    background-color: #fa0c19;
    border-color: #fa0c19;
  }
  .btn-outline-success {
    color: #fa0c19;
    background-color: transparent;
    background-image: none;
    border-color: #fa0c19;
  }
  .btn-outline-success:hover {
    background-color: #fa0c19;
    border-color: #fa0c19;
  }
}

.tt-dialog-loged-user{
  position: absolute !important;
  right: 0;
  top: 3rem;
  .mat-dialog-container {
    padding: 10px !important;
  }
}

.emailBucketSendForm {
  width: 100% !important;
  margin: 0 !important;
  padding-bottom: 1.5rem !important;
  .input-field{
    padding: 6px;
    width: 80%;
  }
  .iti {
    width: 100% !important;
  }
  ngx-intl-tel-input input {
    width: inherit;
  }
}
