
body{
    overflow-x: hidden;
}
.navbar{
    justify-content: start !important;
    align-items: inherit !important;
}
.p-card-title{
    font-size: 0.93rem !important;
}
.p-card{
    font-size: 0.93rem !important;
}

    .product-item-content {
        border: 1px solid var(--surface-d);
        border-radius: 3px;
        margin: .3rem;
        text-align: center;
        padding: 2rem 0;
    }

    .product-image {
        width: 50%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }


.product-image1{
    height: 150px;
    width: 150px;
}

.p-dropdown {
    border-radius: 0px !important;
}

.p-dropdown-label.p-placeholder {
    padding-top: 0px !important;
    font-size: 12px;
    height: 3rem;
}

