
body{
    overflow-x: hidden;
}
.navbar{
    justify-content: start !important;
    align-items: inherit !important;
    height: 50px;
    background: rgb(250, 12, 25) !important;

}
.FindButtonGlobalThemeStyle{
  background: rgb(250, 12, 25) !important;
}

.defaultDropDownFontColor{
  color: #767676 !important;
}
.defaultDropDownFontSize{
  font-size: 0.8rem !important;
  justify-content: center;
}
.p-card-title{
    font-size: 0.93rem !important;
}
.p-card{
    font-size: 0.93rem !important;
}

    .product-item-content {
        border: 1px solid var(--surface-d);
        border-radius: 3px;
        margin: .3rem;
        text-align: center;
        padding: 2rem 0;
    }

    .product-image {
        width: 50%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }


.product-image1{
    height: 150px;
    width: 150px;
}

/*.p-dropdown {*/
/*    border-radius: 0px !important;*/
/*}*/

/*.p-inputtext{*/
/*    border-radius: 0px !important;*/
/*    width:92% !important;*/
/*    margin-left: 1.1rem !important;*/
/*}*/

/*.p-dropdown-label.p-placeholder {*/
/*    padding-top: 0px !important;*/
/*    font-size: 12px;*/
/*    height: 3rem;*/
/*}*/

.cursor-pointer{
  cursor: pointer;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover {
  background: #e9ecef;
  border-bottom: 5px solid #bfdbfe;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus {
  box-shadow: unset !important;
  border-bottom: 5px solid #bfdbfe;
  border-radius: 0px;
}

.searchBar-blog{
  position: absolute;
  right: 1rem;
}

@media screen and (max-width: 960px) {
  .searchBar-blog {
    display: none;
  }
  .p-menubar .p-menubar-button {
    position: absolute;
    right: 1rem;
  }
}

.clr-logo{
  color: #d50000;
}

.bbtm-profolio{
  border-bottom: 1px solid #f1f1f1;
}

.font-10{
  font-size: 10px;
}
.font-12{
  font-size: 12px !important;
}
.font-14{
  font-size: 14px !important;
}

.font-15{
  font-size: 15px !important;
}

.font-18{
  font-size: 18px !important;
}

.clr-white{
  color: white;
}
.clr-black{
  color: black;
}

.clr-green{
  color: #00a651;
}

.clr-theme{
  color: #fa0c19;
}

.clr-alert{
  color: #f3cd1a;
}

.clr-red{
  color: red;
}

.clr-orange{
  color: #EF7C21;
}

.clr-anchor{
  color: #0E77B0;
}

.anchor-line{
  text-decoration: unset;
}

.p-3px{
  padding: 3px;
}

.mr-5px{
  margin-right: 5px;
}

.mr-12px{
  margin-right: 12px;
}

.ml-2px{
  margin-left: 2px !important;
}

.ml-5px{
  margin-left: 5px !important;
}

.ml-12px{
  margin-left: 12px !important;
}

.ml-15px{
  margin-left: 15px !important;
}

.pl-0{
  padding-left: 0 !important;
}

.bg-theme{
  background-color: #fa0c19;
  background: #fa0c19;
}
.hover-theme{
  background-color: #ffdcde;
  background: #ffdcde;
}
.active-theme{
  background-color: #ffdcde;
  background: #ffdcde;
}

.line-break{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


/* ngx-intl-tel-input styling */
.iti {
  display: block !important;
}

.iti .dropdown-menu.country-dropdown {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-color: #c7cace;
  margin-top: -1px;
}

.iti .iti__country-list {
  box-shadow: none;
  font-size: 14px;
  margin-left: 0;
  width: 244px;
  max-height: 170px;
}

.iti__flag-container.open + input {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.iti .search-container input {
  font-size: 14px;
  border-color: #c7cace;
  border-radius: 0;
  padding: 5px 10px;
}

.iti .search-container input:focus {
  outline: none;
}

@media screen and (max-width: 479px) {
  .iti .iti__country-list {
    width: 88.3vw;
  }
}

ngx-intl-tel-input input {
  height: 44px;
  margin-bottom: 20px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #c7cace;
  border-radius: 4px;
  font-size: 18px;
}

ngx-intl-tel-input.ng-invalid.ng-touched input {
  box-shadow: 0 0 0 0.2rem #ffdcde;
  border-color: #fa0c19;
}

ngx-intl-tel-input input:hover {
  box-shadow: 0 0 0 0.2rem #ffdcde;
}

ngx-intl-tel-input input:focus {
  outline: none !important;
  box-shadow: 0 0 0 0.2rem #ffdcde;
}

ngx-intl-tel-input input::-webkit-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input:-ms-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input::-ms-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input::placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input[disabled] {
  background-color: #e5eaf1;
}
/* ngx-intl-tel-input styling */

.error-field{
  border: 1px solid red !important;
}
.ng-invalid {
  border: 1px solid red;
}
.ng-invalid-tel {
  border: 1px solid red;
}
