<section class=" mb-5">
  <h1 class="text-dark heading">
    Discover New Locations
  </h1>
  <div  class="container">
    <p-carousel [value]="products" [showIndicators]="false" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">

      <ng-template let-product pTemplate="item">
          <div class="product-item">
              <div class="product-item-content">
                  <div class="mb-3">
                      <img src="{{product.image}}" alt="sample" class="product-image" />
                  </div>
                  <div>
                      <h4 class="mb-1">{{product.name}}</h4>
                      <span [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()">{{product.description}}</span>
                      
                  </div>
              </div>
          </div>
      </ng-template>
  </p-carousel>
  </div>

</section>

<section class="mb-5">
  <h1 class="text-dark heading">
    Titanium Agencies
  </h1>
  <div  class="container ">
    <p-carousel [value]="products" [showIndicators]="false" [numScroll]="1" [autoplayInterval]="1500" [numVisible]="5"  [circular]="true" [responsiveOptions]="responsiveOptions">

      <ng-template let-product pTemplate="item">
          <div class="product-item">
              <div>
                  <div class="mb-3">
                      <img src="{{product.image}}" alt="sample" class="product-image1" />
                  </div>
                </div>
          </div>
      </ng-template>
  </p-carousel>
  </div>

</section>



<section>
    <h1 class="text-dark heading">
        Popular Locations
      </h1>
  <div class="d-flex justify-content-center">
    <div class="container row">
    

      <div class="row ">
        <h1 class="text-dark" style="font-size: 1rem">
          Popular Cities to buy Properties
        </h1>
        <hr />
        <div class="col-lg-4">
          <ul>
            <li>
              <h6><strong>HOUSES</strong></h6>
            </li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
          </ul>
        </div>
        <div class="col-lg-4 mt-4">
            <ul>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li class="text-primary redirect">View all Cities</li>
              </ul>
        </div>
        <div class="col-lg-4">
            <ul>
                <li>
                  <h6><strong>FLATS AND APARTMENTS</strong></h6>
                </li>
                <li><a>Flats for sale in Lahore(32,028)</a></li>
                <li><a>Flats for sale in Lahore(32,028)</a></li>
                <li><a>Flats for sale in Lahore(32,028)</a></li>
                <li><a>Flats for sale in Lahore(32,028)</a></li>
                    <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
              </ul>
        </div>
      </div>
      <div class="row mt-4">
        <h1 class="text-dark" style="font-size: 1rem">
            Most Popular Locations for Homes
        </h1>
        <hr />
        <div class="col-lg-4">
          <ul>
            <li>
              <h6><strong>LAHORE</strong></h6>
            </li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
          </ul>
        </div>
        <div class="col-lg-4">
            <ul>
                <li>
                    <h6><strong>KARACHI</strong></h6>
                  </li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li class="text-primary redirect">View all Cities</li>
              </ul>
        </div>
        <div class="col-lg-4">
            <ul>
                <li>
                  <h6><strong>ISLAMABAD/RAWALPINDI</strong></h6>
                </li>
                <li><a>Flats for sale in Lahore(32,028)</a></li>
                <li><a>Flats for sale in Lahore(32,028)</a></li>
                <li><a>Flats for sale in Lahore(32,028)</a></li>
                <li><a>Flats for sale in Lahore(32,028)</a></li>
                    <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
              </ul>
        </div>
      </div>
      <div class="row mt-4">
        <h1 class="text-dark" style="font-size: 1rem">
            Most Popular Locations for Plots
        </h1>
        <hr />
        <div class="col-lg-4">
          <ul>
            <li>
              <h6><strong>LAHORE</strong></h6>
            </li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
          </ul>
        </div>
        <div class="col-lg-4">
            <ul>
                <li>
                    <h6><strong>KARACHI</strong></h6>
                  </li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li class="text-primary redirect">View all Cities</li>
              </ul>
        </div>
        <div class="col-lg-4">
            <ul>
                <li>
                  <h6><strong>ISLAMABAD/RAWALPINDI</strong></h6>
                </li>
                <li><a>Flats for sale in Lahore(32,028)</a></li>
                <li><a>Flats for sale in Lahore(32,028)</a></li>
                <li><a>Flats for sale in Lahore(32,028)</a></li>
                <li><a>Flats for sale in Lahore(32,028)</a></li>
                    <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
              </ul>
        </div>
      </div>
      <div class="row mt-4">
        <h1 class="text-dark" style="font-size: 1rem">
            Popular Cities to Rent Properties
        </h1>
        <hr />
        <div class="col-lg-4">
          <ul>
            <li>
              <h6><strong>HOUSES</strong></h6>
            </li>
            <li><a>House for sale in DHA(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
            <li><a>House for sale in Lahore(32,028)</a></li>
     
          </ul>
        </div>
        <div class="col-lg-4 mt-4">
            <ul>
          
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                    <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li><a>House for sale in Lahore(32,028)</a></li>
                <li class="text-primary redirect">View all Cities</li>
              </ul>
        </div>
        <div class="col-lg-4">
            <ul>
                <li>
                  <h6><strong>FLATS AND APARTMENTS</strong></h6>
                </li>
                <li><a>Flats for sale in Lahore(32,028)</a></li>
                <li><a>Flats for sale in Lahore(32,028)</a></li>
                <li><a>Flats for sale in Lahore(32,028)</a></li>
                <li><a>Flats for sale in Lahore(32,028)</a></li>
                    <li><a>House for sale in Lahore(32,028)</a></li>
         
              </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
    <h1 class="heading text-dark">
        Recent from the blog
      </h1>
  <div class="d-flex justify-content-center">
    <div class="container row">


      <div class="col-lg-3">
        <p-card
          header="Top Ramadan Mobile Apps Available In Pakistan"
          [style]="{ width: '16rem', 'margin-bottom': '2em' }"
        >
          <ng-template pTemplate="header">
            <img
              alt="Card"
              src="https://zameenblog.s3.amazonaws.com/blog/wp-content/uploads/2020/05/Ramadan-Mobile-Apps-In-Pakistan-Cover-04-05-1024x444.jpg"
            />
          </ng-template>
          <p>
            Muslim ProDhikr & DuaRamadan LegacyMy PrayerRamadan 2022 The holy
            month of Ramadan is all about accumulating the
          </p>
          <button pButton pRipple type="button" label="Read More" class="p-button-raised p-button-secondary p-button-text"></button>
        </p-card>
      </div>
      <div class="col-lg-3">
        <p-card
          header="The Best Sehri and Iftar Deals in Lahore for Ramadan 2022"
          [style]="{ width: '16rem', 'margin-bottom': '2em' }"
        >
          <ng-template pTemplate="header">
            <img
              alt="Card"
              src="https://zameenblog.s3.amazonaws.com/blog/wp-content/uploads/2019/05/cover-image-16-1024x444.jpg"
            />
          </ng-template>
          <p>
            Muslim ProDhikr & DuaRamadan LegacyMy PrayerRamadan 2022 The holy
            month of Ramadan is all about accumulating the
          </p>
          <button pButton pRipple type="button" label="Read More" class="p-button-raised p-button-secondary p-button-text"></button>
        </p-card>
      </div>
      <div class="col-lg-3">
        <p-card
          header="All You Need to Know About the Upcoming Red Line"
          [style]="{ width: '16rem', 'margin-bottom': '2em' }"
        >
          <ng-template pTemplate="header">
            <img
              alt="Card"
              src="https://zameenblog.s3.amazonaws.com/blog/wp-content/uploads/2021/03/1440x625-5-880x384.jpg"
            />
          </ng-template>
          <p>
            Muslim ProDhikr & DuaRamadan LegacyMy PrayerRamadan 2022 The holy
            month of Ramadan is all about accumulating the
          </p>
          <button pButton pRipple type="button" label="Read More" class="p-button-raised p-button-secondary p-button-text"></button>
        </p-card>
      </div>
      <div class="col-lg-3">
        <p-card
          header="All You Need to Know About the Upcoming Red Line "
          [style]="{ width: '16rem', 'margin-bottom': '2em' }"
        >
          <ng-template pTemplate="header">
            <img
              alt="Card"
              src="https://zameenblog.s3.amazonaws.com/blog/wp-content/uploads/2021/03/1440x625-5-880x384.jpg"
            />
          </ng-template>
          <p>
            Muslim ProDhikr & DuaRamadan LegacyMy PrayerRamadan 2022 The holy
            month of Ramadan is all about accumulating the
          </p>
          <button pButton pRipple type="button" label="Read More" class="p-button-raised p-button-secondary p-button-text"></button>
        </p-card>
      </div>
    </div>
  </div>
</section>
