<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
  
                    <div class="footer-pad">
                        <div class="Headers">Company</div>
                        <ul class="list-unstyled">
                            <li><a href="#"></a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Help & Support</a></li>
                            <li><a href="#">Advertise on Zameen</a></li>
                            <li><a href="#">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-pad">
                        <div class="Headers">Connect</div>
                        <ul class="list-unstyled">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Expo</a></li>
                            <li><a href="#">Real Estate Agents</a></li>
                            <li><a href="#">Add Property</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-pad">
                        <div class="Headers">Head Office</div>
                        <ul class="list-unstyled">
                            <li><a href="#">Pearl One, 94-B/I, MM Alam Road,<br> Gulberg III, Lahore,Pakistan</a></li>
                            <li><a href="#">0800-ZAMEEN(92633)
                                </a></li>
                            <li><a href="#">Email us</a></li>

                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            
                
                <div class="mainDiv">
                    <div class="widthSetting">
                        <div class="Headers">Roshan Digital Account</div>
                        <a href="#" class="imageMain">
                            <img src="https://www.zameen.com/assets/roshanDigitalAccount_noinline.c8687f407684f582de7829168747c163.svg"
                                class="imgRoshanDigital" alt="roshan">

                            <p class="roshanDigitalTxt">ROSHAN<br><b>DIGITAL</b><br>ACCOUNT</p>
                        </a>
                        <div class="mb-3">
                        <div class="getConnectedDiv">Get Connected</div>
                        <ul class="social-network social-circle">
                            <div class="d-flex align-items-center ">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        </div>
                        <div class="d-flex align-items-center mt-2">
                            <li><a href="#" class="icoInstagram" title="Linkedin"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#" class="icoYoutube" title="Linkedin"><i class="fa fa-youtube"></i></a></li>
                        </div>   
                        </ul>	
                        </div>			
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 copy">
                    <p class="text-center">&copy; Copyright 2022 - Zameen.com.All Rights Reserved.</p>
                </div>
            </div>


        </div>
    </div>
</footer>